worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    # Commented out the original server block

    upstream tomcats {
        server 143.110.162.223:8009; 
        keepalive 10;
    }

    server {
        listen 8080;
        
        location / {
            ajp_keep_conn on;
            ajp_pass tomcats;}
    }
}